.reveal h1, 
.reveal h2, 
.reveal h3, 
.reveal h4, 
.reveal h5, 
.reveal h6 {
  color: #e7ad52;
}

.reveal a:not(.image),
code {
  color: #cdfd34;
}

.reveal i.fa {
  font-family: FontAwesome;
  font-style: normal;
}

.reveal pre {
  font-size: .8em;
}

.reveal th,
.reveal td {
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  padding-top: 10px; 
}